{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Славутин Леонид</h1>
<p>
  Расскажу немного о себе: На данный момент я студент 20 когорты 
  "Back-end разработчик на Python" на платформе Я.Практикум. 
  До этого самостоятельно изучал немного мануальное тестирование,
  пробовал себя в тестовых заданиях. Также знаком немного с автоматизированным 
  тестированием (End2End).
  Я, как можно увидеть из моего резюме, параллельно получил 2 высших образования 
  (инженер по ПТСДМ и экономист бизнес-администрировние). Дальше продолжил свою 
  деятельность в магистратуре и аспирантуре. У меня есть патент в соавторстве
  <a href="https://drive.google.com/file/d/1qX7CPf99umSmoRJtuLsrl9ewub_VTa5i/view?usp=sharing"> 
    на установку по нанесению полимерных покрытий</a>. 
  Мне очень нравится изучать что-то новое, поэтому я прошел 2 курса по математике 
  на портале EdX от двух университетов (Delft University of Technology, The University of Texas at Austin). 
  Также самостоятельно изучал немного Python, для написания desktop версии «Своя игра».
  Также хочу в скором времени написать игру-таполку на питоне через android-овский фреймворк.
</p>
{% endblock %} 