{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
  Профайл пользователя {{ user.username }}
{% endblock %}
{% block content %}
<h1>Все посты пользователя {{ author.username }}  </h1>
      <h3>Всего постов: {{ count }} </h3>
      {% if request.user.is_authenticated %}
        {% if request.user != author %}
          {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
            >
            Отписаться
          </a>
          {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
            Подписаться
          </a>
        {% endif %}
      {% endif %}
    {% endif %}  
  {% for post in page_obj %}   
  <div class="container py-5">        
      <article>
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d.m.Y"}} 
          </li>
        </ul>
        <p>
          {{ post.text|linebreaksbr| truncatewords:30 }}
        </p>
        <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
      </article>
        {% if post.group is not None %}        
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}         
      <hr>
  </div>
  {% endfor%}
  {% include 'includes/paginator.html' %}   
{% endblock %}